/node_modules
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.env
composer.lock

/public/css
/public/js
/public/public/
/public/assets/
/public/dump_images/
/public/fonts
/public/images
/public/img
/public/admin/*
/public/storage
/public/uploads
/public/mix-manifest.json
/storage/oauth-private.key
/storage/oauth-public.key
/storage/resume
/storage
